.Container {
    width: 100%;
    padding: 50px 5%;
    background-color: hsla(55, 65%, 81%, 0.288);
}
#Container__buttons {
    display: flex;
    justify-content: space-between;
}


@media (max-width: 375px) {
    #Container__buttons {
        display: block;
    }
  }