.Navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 5%;
    width: 100%;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.315);
}
.Navbar h2 {
    font-size: 24px;
    font-weight: 800;
}
.Navbar a h5 {
    font-size: 14px;
    font-weight: 600;
    color: #333;
    padding-top: 10px;
}
.Navbar a:hover {
    text-decoration: none;
}
#darkMode {
    cursor: pointer;
}

@media (max-width: 375px) {
    .Navbar h2 {
        padding-top: 10px;
        font-size: 16px;
    }
    .Navbar a h5 {
        font-size: 12px;
    }
  }